.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 8px;
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.box {
    margin-bottom: 12px;
}

.callout {
    border-radius: 3px;
    margin: 0px 0 8px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
